 body {
     background-image: url(https://www.elsetge.cat/myimg/f/137-1378823_republic-of-games-strix-4k-rog-asus-wallpaper.jpg)
 }

 h1 {
     font-family: fantasy;
     background-color: rgba(17, 151, 192, 0.452);
 }

 .jumbotron-fluid {
     font-family: fantasy;
     background-color:rgba(17, 151, 192, 0.452) ;
 }

 


